<form {{action "addEpisode" on="submit"}}>
  <div class="input">
    <label for="name">Show Name:</label>
    {{input class="u-full-width" name="name" value=name}}
  </div>
  <div class="input">
    <label for="season">Season:</label>
    {{input class="u-full-width" name="season" value=season}}
  </div>
  <div class="input">
    <label for="episode">Episode Number:</label>
    {{input class="u-full-width" name="episode" value=episode}}
  </div>
  <div class="input">
    <label for="url">url:</label>
    {{input class="u-full-width" name="url" value=url}}
  </div>
  <div class="actions">
    <button class="button-primary" type="submit">Add Episode</button>
  </div>
</form>
