<div class="container">
  <div class="row">
    <center><h1>TV Roulette</h1></center>

    {{#each}}
      <h5>
        {{name}} Season {{season}} Episode {{episode}}
        <br>
        <small>{{title}}</small>
      </h5>
      
      <iframe src="{{unbound url}}" frameborder="0" marginwidth="0" marginheight="0" scrolling="NO" width="540" height="330"></iframe>
    {{/each}}

    <button class="button" {{action "randomEpisode"}}>Next Episode</button>
  </div>

  <div class="row">
    {{render 'episode/new'}}
  </div>

  {{render 'footer'}}
</div>