<div class="jumbotron">
  <center><h2>TV Roulette</h2></center>
</div>

<div class="container">
  <div class="row">
  
    {{#each}}
    {{!-- <div class="panel panel-default">
      <div class="panel-heading"> --}}
        <center><h5>
          <strong>{{unbound name}} S{{unbound season}}E{{unbound episode}}</strong>
          <br>
          <small>{{unbound title}}</small>
        </h5></center>
      {{!-- </div>
      <div class="panel-body"> --}}
        <div class="embed-responsive embed-responsive-16by9">
          <center><iframe class="embed-responsive-item" src="{{unbound url}}" frameborder="0" marginwidth="0" marginheight="0" scrolling="NO" width="470" height="336"></iframe></center>
        </div>
      {{!-- </div>
    </div> --}}
    <br>
    {{/each}}

    <button class="button" {{action "randomEpisode"}}>Next Episode</button>
  </div>

  <div class="row">
    {{render 'episode/new'}}
  </div>
</div>

{{render 'footer'}}